Imports

In [1]:
!pip install scikit-learn
!pip install --upgrade imbalanced-learn --quiet
!pip install imblearn
!pip install numpy
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from collections import Counter

from imblearn.over_sampling import SMOTE

df = pd.read_csv('/kaggle/input/diabetes/diabetic_data.csv')

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy>=1.17.3->scikit-learn) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy>=1.17.3->scikit-learn) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy>=1.17.3->scikit-learn) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy>=1.17.3->scikit-learn) (2025.1.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy>=1.17.3->scikit-learn) (2022.1.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy>=1.17.3->scikit-learn) (2.4.1)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.17.3->scikit-learn) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.17.3->scikit-learn) (2022.1.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy>=1.17.3->scikit-learn) (1.3.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy>=1.17.3->scikit-learn) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy>=1.17.3->scikit-learn) (2024.2.0)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 78.2 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
category-encoders 2.7.0 requires scikit-learn<1.6.0,>=1.0.0, but you have scikit-learn 1.6.1 which is incompatible.
cesium 0.12.4 requires numpy<3.0,>=2.0, but you have numpy 1.26.4 which is incompatible.
Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl.metadata (355 bytes)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.11/dist-packages (from imblearn) (0.13.0)
Requirement already satisfied: numpy<3,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy<2,>=1.10.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (1.15.2)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (1.6.1)
Requirement already satisfied: sklearn-compat<1,>=0.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (0.1.3)
Requirement already satisfied: joblib<2,>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (1.5.0)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from imbalanced-learn->imblearn) (3.6.0)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy<3,>=1.24.3->imbalanced-learn->imblearn) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy<3,>=1.24.3->imbalanced-learn->imblearn) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy<3,>=1.24.3->imbalanced-learn->imblearn) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy<3,>=1.24.3->imbalanced-learn->imblearn) (2025.1.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy<3,>=1.24.3->imbalanced-learn->imblearn) (2022.1.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy<3,>=1.24.3->imbalanced-learn->imblearn) (2.4.1)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy<3,>=1.24.3->imbalanced-learn->imblearn) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy<3,>=1.24.3->imbalanced-learn->imblearn) (2022.1.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy<3,>=1.24.3->imbalanced-learn->imblearn) (1.3.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy<3,>=1.24.3->imbalanced-learn->imblearn) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy<3,>=1.24.3->imbalanced-learn->imblearn) (2024.2.0)
Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Installing collected packages: imblearn
Successfully installed imblearn-0.0
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy) (2025.1.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy) (2022.1.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy) (2.4.1)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy) (2022.1.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy) (1.3.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy) (2024.2.0)

2025-05-13 12:16:16.535391: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1747138576.802996      13 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1747138576.879642      13 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

Viewing the dataset

In [2]:
# Display general information about the dataset
print("Information of Dataset:")
display(df.info())
print("\n")

# Display descriptive statistics for numeric features
print("Description of Dataset for Numeric Features:")
display(df.describe().T.style.background_gradient(cmap='Blues'))
print("\n")

# Display descriptive statistics for categorical features
print("Description of Dataset for Categorical Features:")
display(df.describe(exclude=np.number).T.style.background_gradient(cmap='Blues'))
print("\n")

# Display percentage of null values in the dataset
print("Null Values in Dataset:")
display(df.isnull().mean() * 100)
print("\n")

# Display duplicate rows in the dataset
print("Duplicate Rows in Dataset:")
display(df[df.duplicated()].style.background_gradient(cmap='Blues'))

Information of Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

None

Description of Dataset for Numeric Features:

Description of Dataset for Categorical Features:

Null Values in Dataset:

encounter_id                 0.000000
patient_nbr                  0.000000
race                         0.000000
gender                       0.000000
age                          0.000000
weight                       0.000000
admission_type_id            0.000000
discharge_disposition_id     0.000000
admission_source_id          0.000000
time_in_hospital             0.000000
payer_code                   0.000000
medical_specialty            0.000000
num_lab_procedures           0.000000
num_procedures               0.000000
num_medications              0.000000
number_outpatient            0.000000
number_emergency             0.000000
number_inpatient             0.000000
diag_1                       0.000000
diag_2                       0.000000
diag_3                       0.000000
number_diagnoses             0.000000
max_glu_serum               94.746772
A1Cresult                   83.277322
metformin                    0.000000
repaglinide                  0.000000
nateglinide                  0.000000
chlorpropamide               0.000000
glimepiride                  0.000000
acetohexamide                0.000000
glipizide                    0.000000
glyburide                    0.000000
tolbutamide                  0.000000
pioglitazone                 0.000000
rosiglitazone                0.000000
acarbose                     0.000000
miglitol                     0.000000
troglitazone                 0.000000
tolazamide                   0.000000
examide                      0.000000
citoglipton                  0.000000
insulin                      0.000000
glyburide-metformin          0.000000
glipizide-metformin          0.000000
glimepiride-pioglitazone     0.000000
metformin-rosiglitazone      0.000000
metformin-pioglitazone       0.000000
change                       0.000000
diabetesMed                  0.000000
readmitted                   0.000000
dtype: float64

Duplicate Rows in Dataset:

Handle Missing Values

In [3]:
#max_glu_serum ,weight and A1Cresult has more than 85% null values so reoving it.
# examide and citoglipton has only one value so also removing it.

df.drop(columns=['max_glu_serum','A1Cresult','weight','citoglipton','examide','payer_code','medical_specialty','encounter_id','patient_nbr'],inplace=True)

# Replace null values with the most frequent value in each column
for col in df.columns:
    if df[col].isnull().any():
        most_frequent_value = df[col].mode()[0]
        df[col].fillna(most_frequent_value, inplace=True)

print(df['race'].value_counts())

#replacing ? occurencies
df['race'] = df['race'].apply(lambda x: 'Other' if x == '?' else x)

# removing null values from diag_1,2 and 3.
index=[]
index=list(df[df['diag_1']=='?'].index)
index.extend(df[df['diag_2']=='?'].index)
index.extend(df[df['diag_3']=='?'].index)
df.drop(index=index,inplace=True)

race
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: count, dtype: int64

In [4]:
#Encoding
le = LabelEncoder()
df['admission_type_id'] = le.fit_transform(df['admission_type_id'])
df['discharge_disposition_id'] = le.fit_transform(df['discharge_disposition_id'])
df['admission_source_id'] = le.fit_transform(df['admission_source_id'])
df['race'] = le.fit_transform(df['race'])
df['gender'] = le.fit_transform(df['gender'])
df['age'] = le.fit_transform(df['age'])
df['diag_1'] = le.fit_transform(df['diag_1'])
df['diag_2'] = le.fit_transform(df['diag_2'])
df['diag_3'] = le.fit_transform(df['diag_3'])
df['metformin'] = le.fit_transform(df['metformin'])
df['repaglinide'] = le.fit_transform(df['repaglinide'])
df['nateglinide'] = le.fit_transform(df['nateglinide'])
df['chlorpropamide'] = le.fit_transform(df['chlorpropamide'])
df['glimepiride'] = le.fit_transform(df['glimepiride'])
df['acetohexamide'] = le.fit_transform(df['acetohexamide'])
df['glipizide'] = le.fit_transform(df['glipizide'])
df['glyburide'] = le.fit_transform(df['glyburide'])
df['tolbutamide'] = le.fit_transform(df['tolbutamide'])
df['pioglitazone'] = le.fit_transform(df['pioglitazone'])
df['rosiglitazone'] = le.fit_transform(df['rosiglitazone'])
df['acarbose'] = le.fit_transform(df['acarbose'])
df['miglitol'] = le.fit_transform(df['miglitol'])
df['troglitazone'] = le.fit_transform(df['troglitazone'])
df['tolazamide'] = le.fit_transform(df['tolazamide'])
df['insulin'] = le.fit_transform(df['insulin'])
df['glyburide-metformin'] = le.fit_transform(df['glyburide-metformin'])
df['glipizide-metformin'] = le.fit_transform(df['glipizide-metformin'])
df['glimepiride-pioglitazone'] = le.fit_transform(df['glimepiride-pioglitazone'])
df['metformin-rosiglitazone'] = le.fit_transform(df['metformin-rosiglitazone'])
df['metformin-pioglitazone'] = le.fit_transform(df['metformin-pioglitazone'])
df['change'] = le.fit_transform(df['change'])
df['diabetesMed'] = le.fit_transform(df['diabetesMed'])


#Transforming in a binary problem
df['readmitted']=df['readmitted'].apply(lambda x : 1 if x=='<30' else 0)
df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
1,2,0,1,0,0,6,3,59,0,18,...,0,3,1,0,0,0,0,0,1,0
2,0,0,2,0,0,6,2,11,5,13,...,0,1,1,0,0,0,0,1,1,0
3,2,1,3,0,0,6,2,44,1,16,...,0,3,1,0,0,0,0,0,1,0
4,2,1,4,0,0,6,1,51,0,8,...,0,2,1,0,0,0,0,0,1,0
5,2,1,5,1,0,1,3,31,6,16,...,0,2,1,0,0,0,0,1,1,0

Building the model

In [5]:

#Dataset unbalanced, using smote
sm=SMOTE(sampling_strategy='minority',random_state=42)

X = df.drop('readmitted', axis=1).values
y = df['readmitted'].values
X_res, y_res = sm.fit_resample(X, y)
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

y_train_cat = to_categorical(y_train, num_classes=2)
y_test_cat = to_categorical(y_test, num_classes=2)

model = Sequential([
    Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(64, activation='relu'),
    Dense(64, activation='relu'),
    Dense(64, activation='relu'),
    Dense(64, activation='relu'),
    Dense(2, activation='softmax')
])

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train_cat,
          epochs=20,
          batch_size=64,
          validation_split=0.1)

loss, accuracy = model.evaluate(X_test, y_test_cat)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

2025-05-13 12:16:40.900460: E external/local_xla/xla/stream_executor/cuda/cuda_driver.cc:152] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

Epoch 1/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 9s 3ms/step - accuracy: 0.7816 - loss: 0.4542 - val_accuracy: 0.8189 - val_loss: 0.3910
Epoch 2/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8327 - loss: 0.3668 - val_accuracy: 0.8266 - val_loss: 0.3757
Epoch 3/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8426 - loss: 0.3517 - val_accuracy: 0.8319 - val_loss: 0.3721
Epoch 4/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.8467 - loss: 0.3448 - val_accuracy: 0.8407 - val_loss: 0.3553
Epoch 5/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.8514 - loss: 0.3350 - val_accuracy: 0.8402 - val_loss: 0.3577
Epoch 6/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8555 - loss: 0.3286 - val_accuracy: 0.8430 - val_loss: 0.3533
Epoch 7/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.8621 - loss: 0.3181 - val_accuracy: 0.8459 - val_loss: 0.3475
Epoch 8/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - accuracy: 0.8612 - loss: 0.3179 - val_accuracy: 0.8475 - val_loss: 0.3444
Epoch 9/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8659 - loss: 0.3122 - val_accuracy: 0.8484 - val_loss: 0.3496
Epoch 10/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8672 - loss: 0.3090 - val_accuracy: 0.8505 - val_loss: 0.3397
Epoch 11/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8696 - loss: 0.3040 - val_accuracy: 0.8510 - val_loss: 0.3420
Epoch 12/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8686 - loss: 0.3026 - val_accuracy: 0.8497 - val_loss: 0.3535
Epoch 13/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8737 - loss: 0.2953 - val_accuracy: 0.8523 - val_loss: 0.3472
Epoch 14/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8748 - loss: 0.2936 - val_accuracy: 0.8510 - val_loss: 0.3406
Epoch 15/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8770 - loss: 0.2886 - val_accuracy: 0.8560 - val_loss: 0.3374
Epoch 16/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8804 - loss: 0.2837 - val_accuracy: 0.8531 - val_loss: 0.3401
Epoch 17/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8801 - loss: 0.2834 - val_accuracy: 0.8555 - val_loss: 0.3386
Epoch 18/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8820 - loss: 0.2806 - val_accuracy: 0.8550 - val_loss: 0.3412
Epoch 19/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8855 - loss: 0.2742 - val_accuracy: 0.8571 - val_loss: 0.3419
Epoch 20/20
2003/2003 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8881 - loss: 0.2686 - val_accuracy: 0.8531 - val_loss: 0.3521
1113/1113 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.8559 - loss: 0.3424
Test Loss: 0.3433
Test Accuracy: 0.8554